name: Unit Tests

# CINTENT >> MANUAL_TRIGGER
# on: [push]
on: [repository_dispatch, workflow_dispatch]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
        # CINTENT >> CHANGE_VERSION
        # These have to be strings, as, e.g., 3.10 and 3.1 are NOT the same.
        # - "3.9"
        - "3.10"
    steps:
    # CINTENT >> CHANGE_VERSION
    # - uses: actions/checkout@v1
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
      with:
        nonblocking: true

    - name: Install gretel-synthetics
      run: pip install -e .[all,test] --use-deprecated=legacy-resolver
    - name: Lint
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 --count --select=E9,F63,F7,F82 --show-source --statistics src/
        # exit-zero treats all errors as warnings.
        flake8 --count --exit-zero --max-complexity=30 --max-line-length=120 --statistics src/
    - name: Test
      run: pytest -s -vv --cov src --cov-report term-missing tests/

    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
